.profit-table {
  padding: 10px;
  position: relative;

  .container {
    // width: 60%;
  }

  .row {
    display: flex;
  }

  table.main-table {
    // width: 100%;
    margin-top: -5px;

    td {
      &.red {
        background-color: #ff000047;
      }

      &.green {
        background-color: #07c007b0;
      }
    }

    th {
      width: 10%;
      padding-bottom: 10px;
      border-bottom: 1px solid black;

      &.instrument-name {
        width: 15%;
      }
    }

    // td {
    //   &.instrument-name {
    //     width: 6%;
    //   }
    // }

    tr {
      // border-bottom: 1px solid black;

      &.result {
        table {
          tr {
            border-bottom: none;
          }
        }
      }

      &.instrument {
        opacity: .3;

        &.is_active {
          opacity: 1;
        }

        table {
          width: 350px;
          border-top: 1px solid black;
        }
      }

      td {
        border-right: 1px solid black;

        &:last-child {
          border-right: none;
        }

        table {
          width: 100%;
          // border-spacing: 0px 15px;
          // border-collapse: separate;

          tr {
            &:last-child {
              td {
                border-bottom: none;
              }
            }

            text-align: center;

            th {
              padding: 10px 0px;
              border-bottom: 1px solid black;
            }

            td {
              &:last-child {
                border-right: none;
              }

              padding: 10px 0px;
              border-bottom: 1px solid black;
              border-right: 1px solid black;
            }
          }
        }
      }
    }
  }
}
