.instruments-container
  .search
    input(type="text" placeholder="Поиск")
    button#settings
      img(src="/images/settings.png", alt="settings")
  
  .instruments-list
    .headlines
      span.instrument-name Инструмент

    .list
