.trading-form
  .action-block
    .buy
      button Buy
      input(type="text", placeholder="0")
    .sell
      button Sell
      input(type="text", placeholder="0")
    
  .risks-block
    .tp
      button TP
      input(type="text", placeholder="0")      
    .sl
      button SL
      input(type="text", placeholder="0")

  .quantity-block
    input(type="text", placeholder="1", value="1")
