.row
  .trades
    .trading-statistics
      table
        tr
          th Профит
          th Сделки
      
        tr
          td.profit
            span 0
            | $

          td.number-trades
            span.win 0
            | /
            span.lose 0

    .trading-list
      table
        tr
          th #
          th К-во лотов
          //- th Cумма
          th Профит
          th %
          th Тип
          th Статус
          th Цена покупки
          th Цена продажи
          th Дата входа
          th Дата выхода
        
        //- tr
        //-   td 2
        //-   td.sum-in-game
        //-     span 1000
        //-     | $
        //-   td.quantity-in-game
        //-     span 5
        //-   td.profit
        //-     span 1000
        //-     | $
        //-   td.type short
        //-   td.status
        //-   td 21.01.22 01:00
        //-   td 21.01.22 03:00
        //- tr
        //-   td 1
        //-   td.sum-in-game
        //-     span 1000
        //-     | $
        //-   td.quantity-in-game
        //-     span 5
        //-   td.profit
        //-     span 1000
        //-     | $
        //-   td.type.long long
        //-   td.status.is_active
        //-   td 21.01.22 01:00
        //-   td 21.01.22 03:00
        
        
