.row
  .trades
    .trading-statistics
      table
        tr
          th Профит
          th Сделки
      
        tr
          td.profit
            span 0
            | $

          td.number-trades
            span.win 0
            | /
            span.lose 0

    .trading-list
      table
        tr
          th #
          th К-во трейдов
          th Профит
          th %
          th Тип
          th Статус
          th Цена покупки
          th Цена продажи
          th Дата входа
          th Дата выхода        
