.row
  .trades
    .trading-statistics
      table
        tr
          th Профит
          th Сделки
          th Комиссии
          th Мин. профит
          th
            | Макс. профит

            .clear-trades
              input.strategy(type="text", placeholder="0")
              button.import i
              button.export e
              button.clear x
      
        tr
          td.profit
            span 0
            | $

          td.number-trades
            span.win 0
            | /
            span.lose 0
            | (
            span.relation 0
            | )
        
          td.sum-commissions
            span 0
            | $

          td.min-profit
            span 0
            | $
            
          td.max-profit
            span 0
            | $
        

    .trading-list
      table
        tr
          th #
          th Статегия
          th Инструмент
          th К-во трейдов
          th Профит
          th %
          th Тип
          th Статус
          th Комиссия
          th Дата входа
          th Дата выхода 
