extends ../../../app

block variables
	-
		const pageTitle = 'Профит для priceJumps (Table)';

block content
	.page.profit-table

block scripts
	script(src='/libs/moment.min.js')

	script(src='/javascripts/profit/table/common.js')
