extends ../../../app

block variables
	-
		const pageTitle = 'Профит для priceRebounds (Table)';

block content
	.page.profit-table
		.container

block scripts
	script(src='/libs/moment.min.js')

	script(src='/javascripts/profit/table/common.js')
