.login, .registration {
  padding: 15px;
  position: relative;

  h1 {
    margin-bottom: 10px;
  }

  input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 10px;
  }

  a {
    display: block;
  }

  .common-instruction {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;

    padding-top: 10px;

    video {
      margin-top: 10px;
    }
  }
}
