.experiment {
  padding: 10px;
  position: relative;
  display: flex;

  .instruments-container {
    width: 20%;
    overflow-y: hidden;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    // border-top: 1px solid black;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;

    .search {
      width: 100%;
      height: 35px;

      input[type="text"] {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-right: none;
        border-top: none;
        border-left: none;
        padding: 0 8px;
        outline: none;
      }
    }

    .instruments-list {
      width: 100%;

      .headlines {
        text-align: left;
        padding: 5px 10px;
        border-bottom: 1px solid black;
      }

      .list {
        overflow-y: scroll;

        .instrument {
          &.is_active {
            background-color: #0066ff61 !important;
          }

          &:hover {
            background-color: #0066ff1f;
          }

          &:last-child {
            border-bottom: none;
          }

          cursor: pointer;
          padding: 10px 10px;
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .chart-container {
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid black;

    .legend {
      position: absolute;
      z-index: 999;
      margin-top: 10px;
      margin-left: 10px;

      p.values {
        span {
          color: #000FFF;
          margin-left: 2px;
          margin-right: 5px;
        }
      }
    }

    .chart-periods {
      position: absolute;
      z-index: 999;
      display: flex;
      margin-top: 43px;
      margin-left: 10px;

      div {
        &.is_worked {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.is_active {
          border-color: #00bf20;
        }

        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
        box-sizing: border-box;
        margin-right: 5px;
        position: relative;
        border: 1px dashed #d9d9d9;
        background-color: white;

        span {
          margin: 8px auto;
          text-align: center;
          display: block;
        }
      }
    }

    .chart-candles {
      width: 100%;
      height: 70%;
      /* height: 70%; */
      /* height: 50%; */
      border: 1px solid black;
      border-right: none;
      box-sizing: border-box;
    }

    .chart-volume {
      width: 100%;
      height: 30%;
      border: 1px solid black;
      border-top: none;
      border-right: none;
      box-sizing: border-box;
    }
  }
}
