.levels-monitoring {
  width: 100%;

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 15px;

    .instrument {
      &.is_worked {
        background-color: #b8b8b8 !important;
      }

      &.is_monitoring {
        background-color: #06d73c40 !important;
      }

      &.not_processed {
        background-color: #ffca6a78;
      }

      &.extended {
        width: 22.6%;
        height: 443px;

        .navbar {
          margin-top: 10px;
        }
      }

      width: 190px;
      height: 170px;
      float: left;
      position: relative;
      border: 1px solid black;
      padding: 15px 10px;
      margin-right: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .instrument-name {
        text-align: center;
        display: block;
        cursor: pointer;
        margin-bottom: 15px;
        font: 19px sans-serif;
      }

      .levels {
        width: 100%;

        p {
          margin-bottom: 5px;
          font: 19px monospace;

          &.price_original {
            border-top: 1px solid black;
            border-bottom: 1px solid;
          }
        }

        span.percents {
          float: right;
        }
      }

      .navbar {
        width: 100%;
        position: relative;
        z-index: 9;
        margin-top: 26px;

        button {
          border-radius: 100px;
          width: 30px;
          height: 30px;
          background-color: transparent;
          cursor: pointer;

          img {
            width: 105%;
            margin-top: 3px;
          }

          &.tradingview-chart {
            font-size: 11px;
            float: left;
          }

          &.remove-level {
            float: right;
            font-size: 14px;
          }

          &.reload-levels {
            float: right;
            margin-right: 6px;
          }
        }
      }

      .chart {
        margin-top: 15px;
      }
    }
  }

  .settings {
    display: block;
    border-top: 1px solid black;
  }
}
