.profile {
  padding: 15px;

  h1 {
    display: inline-block;
  }

  .links {
    float: right;

    a {
      margin-left: 10px;
    }
  }

  .settings-for-tradingview,
  .settings-for-profile {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid black;

    p {
      margin-bottom: 10px;
    }

    .setting {
      &.active {
        .instruction {
          display: block;
        }
      }

      input[type="text"] {
        &.not-valid {
          border-color: red;
        }

        margin-bottom: 10px;
      }

      span.to-instruction {
        cursor: pointer;
        position: relative;
        top: 3px;
        margin-left: 8px;
      }

      .instruction {
        display: none;
        margin-bottom: 10px;

        ol {
          list-style: auto;
          margin-left: 16px;

          li {
            margin-bottom: 5px;
          }
        }
      }
    }

    button {
      margin-bottom: 10px;
    }
  }

  .settings-for-levels {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid black;

    button {
      margin-top: 5px;

      &#load-5m-levels {
        margin-left: 10px;
      }

      &#remove-all-levels {
        float: right;
      }
    }
  }

  .levels {
    p.loading {
      &.active {
        display: block;
      }

      display: none;
    }

    .instrument {
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 10px;

      p {
        &:last-child {
          margin-bottom: 0px;
        }

        margin-bottom: 5px;

        span {

        }
      }
    }
  }

  .common-instruction {
    border-top: 1px solid black;

    margin-top: 10px;
    padding-top: 10px;

    video {
      margin-top: 10px;
    }
  }
}
