.volume-monitoring {
  padding: 15px;

  .favorite-volumes {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 17px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .list-volumes {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #spot, #futures {
    width: 50%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 17px;
    position: relative;

    &#spot {
      border-left: 1px solid black;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      font: 21px sans-serif;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      margin-bottom: 17px;
      position: relative;
      z-index: 8;
    }
  }

  .settings {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 9;
    cursor: pointer;

    img {
      width: 22px;
    }
  }

  .container {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .instrument, .instrument-extended {
    &.instrument-extended {
      width: 47%;
    }

    width: 30%;
    position: relative;
    border: 1px solid black;
    padding: 10px 10px 62px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    span.instrument-name {
      text-align: center;
      display: block;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      font: 19px sans-serif;
      margin-bottom: 10px;
    }

    .instrument-price {
      text-align: right;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      span {
        font: 18px monospace;
      }
    }

    .volume {
      font: 15px sans-serif;
      position: absolute;
      bottom: 15px;

      span {
        font-weight: bold;
      }
    }

    .asks, .bids {
      .level {
        width: 100%;
        display: block;
        font: 16px monospace;

        .quantity, .lifetime, .price {
          display: inline-block;
          box-sizing: border-box;

          &.price {
            span.price_original {
              border-right: 1px solid black;
              margin-right: 5px;
              padding-right: 5px;
            }
          }
        }
      }

      &.asks {
        .price {
          background-color: #ff9c9c96;
        }
      }

      &.bids {
        margin-bottom: 10px;

        .price {
          background-color: #a2ff9c96;
        }
      }
    }

    .level {
      &.not_processed {
        background-color: #ffca6a78;
      }

      .quantity {
        width: 31%;
      }

      .lifetime {
        width: 18%;
        text-align: right;
      }

      .price {
        width: 44%;
        float: right;

        .price_original {
          width: 55%;
          display: inline-block;
        }

        .percent {
          width: 35%;
          float: right;
        }
      }
    }

    .chart {
      width: 100%;
      position: relative;

      .charts-nav {
        position: absolute;
        z-index: 999;
        top: 15px;
        left: 15px;

        .row {
          display: flex;
          align-items: center;
        }
      }

      .ruler {
        position: absolute;
        left: -9999px;
        top: -9999px;
        z-index: 999;
        font-size: 16px;
        color: #0044e8;
      }

      .legend {
        p.values {
          span {
            color: #000FFF;
            margin-left: 2px;
            margin-right: 5px;
          }
        }
      }

      .chart-candles {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-right: none;
        box-sizing: border-box;
      }
    }
  }
}
