.volume-monitoring {
  padding: 15px;

  #spot, #futures {
    width: 50%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 17px;
    position: relative;

    &#spot {
      border-left: 1px solid black;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      font: 21px sans-serif;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      margin-bottom: 17px;
      position: relative;
      z-index: 8;
    }
  }

  .settings {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 9;

    img {
      width: 22px;
    }
  }

  .container {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .instrument {
    &.is_monitoring {
      span.instrument-name {
        background-color: #06d73c40 !important;
      }
    }

    &.not_processed {
      background-color: #ffca6a78;
    }

    width: 260px;
    // float: left;
    position: relative;
    border: 1px solid black;
    padding: 10px 10px 62px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    span.instrument-name {
      text-align: center;
      display: block;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      font: 19px sans-serif;
      margin-bottom: 10px;
    }

    .instrument-price {
      text-align: right;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      span {
        font: 18px monospace;
      }
    }

    .volume {
      font: 15px sans-serif;
      position: absolute;
      bottom: 15px;

      span {
        font-weight: bold;
      }
    }

    .asks, .bids {
      .level {
        width: 100%;
        display: block;
        font: 16px monospace;

        .quantity, .lifetime, .price {
          display: inline-block;
          box-sizing: border-box;

          &.price {
            span.price_original {
              border-right: 1px solid black;
              margin-right: 5px;
              padding-right: 5px;
            }
          }
        }
      }

      &.asks {
        .price {
          background-color: #ff9c9c96;
        }
      }

      &.bids {
        .price {
          background-color: #a2ff9c96;
        }
      }
    }

    .level {
      .quantity {
        width: 23%;
      }

      .lifetime {
        width: 15%;
        text-align: right;
      }

      .price {
        width: 56%;
        float: right;

        .price_original {
          width: 64%;
          display: inline-block;
        }

        .percent {
          width: 28%;
          float: right;
        }
      }
    }
  }

}
