.volume-statistics {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    border-top: 1px solid black;
    margin-top: 15px;

    &:first-child {
      margin-top: 0px;
      border-top: none;
    }
  }

  .charts-container {
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;

    .chart-container {
      position: relative;

      &.is_worked {
        .actions-menu {
          display: block;
        }
      }
    }

    .charts-nav {
      position: absolute;
      z-index: 999;
      top: 15px;
      left: 15px;

      .row {
        display: flex;
        align-items: center;
      }
    }

    .legend {
      p.values {
        span {
          color: #000FFF;
          margin-left: 2px;
          margin-right: 5px;
        }
      }
    }

    .ruler {
      position: absolute;
      left: -9999px;
      top: -9999px;
      z-index: 999;
      font-size: 16px;
      color: #0044e8;
    }

    .actions-menu {
      display: none;
      margin-top: 12px;

      .chart-slider {
        display: inline-block;

        p {
          display: inline-block;
          margin: 0 8px;
          font: 17px sans-serif;

          span {
            &.current-slide {
              margin-right: 3px;
            }

            &.amount-slides {
              margin-left: 3px;
            }
          }
        }

        button {
          display: inline-block;
          background-color: transparent;
          border-radius: 100px;
          cursor: pointer;
          font-size: 17px;
        }
      }

      .volume-timelife {
        width: 16px;
        display: inline-block;
        margin-left: 11px;

        input[type="text"] {
          width: 100%;
          height: 100%;
          text-align: center;
          position: relative;
          bottom: 2px;
        }
      }
    }

    .chart-periods {
      display: flex;
      margin-top: 12px;

      div {
        &.is_worked {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.is_active {
          border-color: #00bf20;
        }

        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
        box-sizing: border-box;
        margin-right: 5px;
        position: relative;
        border: 1px dashed #d9d9d9;
        background-color: white;

        span {
          margin: 8px auto;
          text-align: center;
          display: block;
        }
      }
    }

    .chart-candles {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-right: none;
      box-sizing: border-box;
    }
  }

  .instruments-container {
    width: 11%;
    overflow-y: scroll;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;

    .search {
      width: 100%;
      height: 35px;

      input[type="text"] {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-right: none;
        border-top: none;
        border-left: none;
        padding: 0 8px;
        outline: none;
      }
    }

    .instruments-list {
      width: 100%;

      .headlines {
        text-align: left;
        padding: 5px 10px;
        border-bottom: 1px solid black;

        span {
          cursor: pointer;
          display: inline-block;
          box-sizing: border-box;

          &.is_active {
            background-color: #00a1ff59;
          }

          &.instrument-name {
            width: 80%;
          }

          &.amount-volume {
            width: 18%;
            text-align: center;
          }
        }
      }

      .list {
        display: flex;
        overflow-y: scroll;
        flex-direction: column;

        .instrument {
          &.is_active {
            background-color: #0066ff61 !important;
          }

          &:hover {
            background-color: #0066ff1f;
          }

          cursor: pointer;
          padding: 10px 10px;
          border-bottom: 1px solid black;

          span {
            cursor: pointer;
            display: inline-block;
            box-sizing: border-box;

            &.instrument-name {
              width: 77%;
            }

            &.amount {
              width: 18%;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .settings {
    padding-top: 15px;

    div {
      margin-bottom: 10px;

      p {
        margin-bottom: 3px;
      }

      input[type="text"] {

      }
    }
  }

  .report {
    padding-top: 15px;

    table {
      tr {
        &:hover {
          background-color: #cccccc80;
        }

        th {
          padding: 10px;
          border-bottom: 1px solid black;
        }

        td {
          cursor: pointer;
          padding: 10px;
          text-align: center;
          border-bottom: 1px solid black;
          border-right: 1px dashed black;

          // &:last-child {
          //   border-right: none;
          // }
        }
      }
    }
  }
}
