extends ../../app

block variables
	-
		const pageTitle = 'Статистика priceJumps';

block content
	.page.statistics
		.row
			.charts-container

			.instruments-container
				.search
					input(type="text" placeholder="Поиск")
			
				.instruments-list
					.headlines
						span.instrument-name Инструмент

					.list

		.row
			.settings
				.candles-for-calculate-average-percent
					p Number candles for calculate average percent
					input.candles-for-calculate-average-percent(type="text")
					
				.factor-for-price-change
					p In how many times price of candle must be changed
					input.factor-for-price-change(type="text")
			
				.stoploss-percent
					p StopLoss %
					input.stoploss-percent(type="text")
					
				.consider-btc-mirco-trend
					label(for='consider-btc-mirco-trend') BTC micro-trend
					input#consider-btc-mirco-trend(type='checkbox')
					
				.consider-futures-mirco-trend
					label(for='consider-futures-mirco-trend') Futures micro-trend
					input#consider-futures-mirco-trend(type='checkbox')

		.row
			.report

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/supertrend.js')

	script(src='/javascripts/statistics/price-jumps.js')
