extends ../../app

block variables
	-
		const pageTitle = 'Меню выбора стратегии';

block content
	.page.strategy-choice
		div.section
			ul
				li
					a(href='/statistics/priceJumps') Price Jumps
				li
					a(href='/statistics/priceRebounds') Price Rebounds

block scripts
