.container {

}
  .container .instrument {
    width: 190px;
    height: 170px;
    float: left;
    display: inline-block;
    border: 1px solid black;
    padding: 15px 10;
    margin-right: 20px;
    margin-bottom: 20px;
  }
    .instrument .instrument-name {
      text-align: center;
      display: block;
      margin-bottom: 15px;
      font: 19px sans-serif;
    }

    .instrument .levels {
    }
      .instrument .levels p {
        margin-bottom: 5px;
        font: 19px monospace;
      }
        .instrument .levels p.price_original {
          border-top: 1px solid black;
          border-bottom: 1px solid;
        }

        .instrument .levels span.percents {
          float: right;
        }
