.trading-strategy {
  border: 1px solid black;
  padding: 15px;
  position: relative;
}
  .trading-strategy .switch {
    position: absolute;
    right: 15px;
  }

  .trading-strategy p {
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 10px;
  }
    .trading-strategy p:last-child {
      margin-bottom: 0;
    }

.trading-actions {
  position: absolute;
  z-index: 999;
  top: 20px;
  right: 68px;
  display: none;
}
  .trading-actions.active {
    display: block;
  }

  .trading-actions .status-trade {
    width: 9px;
    height: 10px;
    display: block;
    background-color: orange;
    border-radius: 3000px;
    position: absolute;
    left: -18px;
    top: 12px;
  }
    .trading-actions .status-trade.active {
      background-color: #00bf20;
    }

  .trading-actions .choice button {
    margin-bottom: 7px;
    width: 94px;
    text-align: left;
    background-color: transparent;
    padding: 6px 7px;
    font-family: monospace;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px #000;
  }
    .trading-actions button.buy {
      background-color: #00bf20;
    }

    .trading-actions button.sell {
      background-color: #d10000;
    }

  .trading-actions .toolbar {
    font-size: 18px;
    border: 1px solid black;
    padding: 8px;
    font-family: monospace;
    background-color: white;
  }
    .trading-actions .toolbar div {
      margin-bottom: 8px;
    }
      .trading-actions .toolbar div:last-child {
        margin-bottom: 0;
      }

      .trading-actions .toolbar button {
        margin: 0 auto;
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
      }
        .trading-actions .toolbar button:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }

      .trading-actions .toolbar div input {
        width: 90px;
        padding: 3px 0;
        text-align: center;
        float: right;
      }

      .trading-actions .toolbar p {

      }
        .trading-actions .toolbar p span {

        }
