.clear-trades {
  position: absolute;
  right: 6px;
  top: 8px;

  input[type="text"] {
    width: 20px;
    text-align: center;
  }

  button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 5px;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.trades {
  width: 100%;

  .trading-statistics {
    width: 100%;

    table {
      width: 100%;

      tr {
        border-bottom: 1px solid black;

        &:last-child {
          border-bottom: none;
        }

        th {
          position: relative;
          padding: 10px 0;
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }
        }

        td {
          padding: 10px;
          text-align: center;
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }

          &.number-trades {
            span {
              margin: 0 5px;

              &.win {
                color: #00b706;
              }

              &.lose {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .trading-list {
    table {
      width: 100%;
      border-top: 1px solid black;

      tr {
        border-bottom: 1px solid black;

        &:last-child {
          border-bottom: none;
        }

        th {
          padding: 10px 0;
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }
        }

        td {
          padding: 10px;
          text-align: center;
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }

          &.index {
            cursor: pointer;
          }

          &.strategy {
            width: 75px;

            input[type="text"] {
              width: 20px;
              text-align: center;
            }
          }

          &.type {
            color: red;

            &.long {
              color: #00b706;
            }
          }

          &.status {
            padding: 0;

            &.is_active {
              background-color: #00ff0a52;
            }
          }
        }
      }
    }
  }
}
