extends ../app

block variables
	-
		const pageTitle = 'Demo';

block content
	.page.demo
		.row
			.charts-container
			
			aside
				include ../includes/services/list-instruments-form
				include ../includes/services/trading-form
				
		.row
			.settings
				.single-date-counter
					input(type="checkbox")
				
				.finish-date-point
					input(type="text")
					span

		include ../includes/services/trades

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/moving-average.js')

	//- Services
	script(src='/javascripts/services/trading.service.js')
	script(src='/javascripts/services/list-instruments.service.js')

	script(src='/javascripts/web/demo.js')
