extends ../app

block variables
	-
		const pageTitle = 'Demo';

block content
	.page.demo
		.row
			.charts-container
			
			aside
				.instruments-container
					.search
						input(type="text" placeholder="Поиск")
						button#settings
							img(src="/images/settings.png", alt="settings")
					
					.instruments-list
						.headlines
							span.name(data-type="name") Инструмент
							span(data-type="priceChange_5m") 5M
							span(data-type="priceChange_1h") 1H
							span(data-type="priceChange_1d") 1D
							span.figure-level-percent(data-type="figureLevel") FL

						.list

				include ../includes/services/trading-form-new
				
		.row
			.settings
				.single-date-counter
					input(type="checkbox")
				
				.finish-date-point
					input(type="text")
					span

		include ../includes/services/transactions

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/file-saver.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')
	script(type='module').
		import { v4 as uuidv4 } from 'https://jspm.dev/uuid';
		window.uuidv4 = uuidv4;

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/volume-average.js')
	script(src='/javascripts/chart-functions/indicators/moving-average.js')

	//- Services
	//- script(src='/javascripts/services/trading-demo.service.js')
	script(src='/javascripts/services/trading-demo-new.service.js')
	script(src='/javascripts/services/trading-demo-list.service.js')
	script(src='/javascripts/services/list-instruments.service.js')

	//- script(src='/javascripts/web/demo.js')
	script(src='/javascripts/web/demo-new.js')
	script(src='/javascripts/services/move-to.service.js')
