extends ../app

block variables
	-
		const pageTitle = 'Demo';

block content
	.page.demo
		.row
			.charts-container

			include ../includes/services/list-instruments-form
			include ../includes/services/trading-form

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/moving-average.js')

	//- Services
	script(src='/javascripts/services/trading.service.js')
	script(src='/javascripts/services/list-instruments.service.js')

	script(src='/javascripts/web/demo.js')
