extends ../app

block variables
	-
		const pageTitle = 'Редактор';

block content
	.page.editor
		.row
			.charts-container

			.instruments-container
				.search
					input(type="text" placeholder="Поиск")
			
				.instruments-list
					.headlines
						span.instrument-name Инструмент

					.list
					
		.row
			.settings

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/websocket.js')
	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	//- script(src='/javascripts/chart-functions/indicators/moving-average.js')

	script(src='/javascripts/web/editor.js')
