extends ../app

block variables
	-
		const pageTitle = 'Эксперимент';

block content
	.page.experiment
		.container

block scripts
	script(src='/libs/moment.min.js')
	//- script(src='/libs/trading-view-charts.min.js')
	
	//- script(src='/javascripts/websocket.js')
	//- script(src='/javascripts/chart-functions/chart-candles.js')
	//- script(src='/javascripts/chart-functions/indicators/volume.js')

	script(src='/javascripts/web/experiment.js')
