extends ../app

block variables
	-
		const pageTitle = 'Experiment';

block content
	.page.experiment
		.row
			.charts-container


block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/moving-average.js')

	script(src='/javascripts/web/experiment.js')
