extends ../app

block variables

block content
	.page.instrument-tick-bounds
		h1 #{instrumentDoc.name_spot} #{tickDoc.value} #{tickDoc.direction}
	
		.container

block scripts
	script(src='/javascripts/web/instrument-tick-bounds.js')
