extends ../app

block variables
	-
		const pageTitle = 'Мониторинг уровней';

block content
	.page.levels-monitoring
		.container

block scripts
	script(src='https://s3.tradingview.com/tv.js')
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/levels-monitoring.js')
