extends ../app

block variables
	-
		const pageTitle = 'Корреляция с BTC';

block content
	.page.monitoring-correlation
		.container
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:05
			//- 
			//- .period
			//- 	.instrument
			//- 		a BTC 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a ADA 
			//- 		span 5%
			//- 
			//- 	.instrument
			//- 		a 1INCH 
			//- 		span -5%
			//- 
			//- 	.time
			//- 		span 10:10

block scripts
	script(src='/libs/moment.min.js')

	script(src='/javascripts/websocket-binance.js')
	script(src='/javascripts/web/monitoring-correlation.js')
