extends ../app

block variables
	-
		const pageTitle = 'Формации + Уровни';

block content
	.page.monitoring
		.row
			.charts-container

			.instruments-container
				.search
					input(type="text" placeholder="Поиск")
			
				.instruments-list
					.headlines
						span.instrument-name Инструмент

					.list
					
		.row
			.settings
				.number-compressions
					p Сжатие для построения линии объемов
					input.number-compressions(type="text")
			
				.padding
					p Расстояние между поиском max high и min low
					input.padding(type="text")
					
				.allowed-percent
					p На сколько % тело свечи может пересечь наклонку
					input.allowed-percent(type="text")
			
				.number-touches
					p Сколько точек учитывать при создании фигуры
					input.number-touches(type="text")

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/websocket.js')
	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/supertrend.js')

	script(src='/javascripts/web/monitoring.js')
