extends ../app

block variables
	-
		const pageTitle = 'Профиль';

block content
	.page.profile
		h1(data-id= user._id) Профиль #{user.fullname}
		
		.links
			a(href='/levels-monitoring') Уровни
			//- a(href='/volume-monitoring') Плотности
			a(href='/utilities') Утилиты
			//- a(href='/robots-statistics') Статистика по роботам
			a(href='https://t.me/helperenok_bot', target="_blank") Telegram-бот
    
		//- .donate
		//- 	h3 Donate
		//- 
		//- 	ul
		//- 		li USDT TRC20: <b>TAs7n92PiBgmGpB79SurCzfNMyyKUXgom2</b>
		//- 		li BTC: <b>bc1qmsla9dmj04yw0ze09ezd0tjlp6j6cwjupmdmxp</b>

block scripts
