extends ../app

block variables
	-
		const pageTitle = 'Профиль';

block content
	.page.profile
		h1(data-id= user._id) Профиль #{user.fullname}
		
		.links
			a(href='/levels-monitoring/4h') Скринер 4h
			a(href='/levels-monitoring/5m') Скринер 5m
			a(href='/volume-monitoring') Плотности
			a(href='/robots-statistics') Статистика по роботам
			a(href='https://t.me/helperenok_bot', target="_blank") Telegram-бот
		
		.settings-for-profile
			p Настройка профиля
			
			.setting.indent-in-percents
				input#indent-in-percents(type="text", placeholder="За сколько предупреждать", value= (user.settings && user.settings.indent_in_percents) || defaultIndentInPercents)
				span.to-instruction ?
				
				.instruction
					ol(type="1")
						li За сколько % от уровня предупреждать в telegram. По-умолчанию 3%. 
						li
							img(src="/images/instructions/indent-in-percents.png")
				
			button#save-profile-settings Сохранить
		
		.settings-for-tradingview
			p Настройка для TradingView
			
			.setting.chartid
				input#chartid(type="text", placeholder="chart id", value= user.tradingview_chart_id)
				span.to-instruction ?
				
				.instruction
					ol(type="1")
						li Авторизироваться в TradingView.
						li Перейти по ссылке <a href="https://ru.tradingview.com/chart/" target="_blank">https://ru.tradingview.com/chart/</a>
						li
							p Нам нужно вот это
							img(src="/images/instructions/chartid.png")
			
			.setting.sessionid
				input#sessionid(type="text", placeholder="session id", value= user.tradingview_session_id)
				span.to-instruction ?
				
				.instruction
					ol(type="1")
						li Авторизироваться в TradingView.
						li 
							p Достать куку sessionid. Это ваша запись сессии в tradingview. Ее иногда нужно будет обновлять.<br>
								| Вы можете достать ее самостоятельно или сделать как показано в видео ниже.
						
						li Ссылка на скачивание <a href="https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg/related?hl=ru" target="_blank">EditThisCookie</a>

						li
							video(width="400", controls)
								source(src="/video/instructions/sessionid.mov", type="video/mp4")

			.setting.userid
				input#userid(type="text", placeholder="user id", value= user.tradingview_user_id)
				span.to-instruction ?
				
				.instruction
					ol(type="1")
						li А сейчас вы почувствуете себя программистом. Если вдруг найдете как достать ваш userid в TV более простым способом - буду благодарен.
						li Перейти по ссылке <a href="https://ru.tradingview.com/chart/" target="_blank">https://ru.tradingview.com/chart/</a>
						li
							p Посмотреть видео.
							video(width="400", controls)
								source(src="/video/instructions/userid.mov", type="video/mp4")

			button#save-tradingview-settings Сохранить
			
		if user.tradingview_chart_id && user.tradingview_session_id && user.tradingview_chart_id		
			.settings-for-levels
				//- p Настройка для уровней
				.actions
					button#load-levels Загрузить / Обновить все уровни
					button#load-5m-levels Загрузить / Обновить 5m уровни
					button#remove-all-levels Удалить уровни
			
			.levels
				p.loading Уровни загружаются, нужно немного подождать..

				-
					const instrumentsWithLevels = [];
					
					userLevelBounds.forEach(bound => {
						const instrumentName = bound.instrument_doc.name;

						if (!instrumentsWithLevels[instrumentName]) {
							instrumentsWithLevels[instrumentName] = {
								instrumentName,
								countLevels: 0,
							}
						}
						
						instrumentsWithLevels[instrumentName].countLevels += 1;
					});
					
				- Object.keys(instrumentsWithLevels).forEach(key => {
					.instrument
						p #{instrumentsWithLevels[key].instrumentName}
						p К-во уровней <span>#{instrumentsWithLevels[key].countLevels}</span>
				- });

		//- 
		//- .common-instruction
		//- 	p Инструкция по настройке
		//- 	video(width="400", controls)
		//- 		source(src="/video/instructions/common-instruction.mov", type="video/mp4")

block scripts
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/profile.js')
