extends ../app

block variables
	-
		const pageTitle = 'Статистика по роботам';

block content
	.page.robots-statistics
		.container-instruments
			//- .instrument
			//- 	span.instrument-name BTCUSDT
			//- 
			//- 	p
			//- 		span Объем: 3000
			//- 		span Направление: Long
			//- 
			//- .instrument
			//- 	span.instrument-name BTCUSDT
			//- 
			//- 	p
			//- 		span Объем: 3000
			//- 		span Направление: Long
			//- 
			//- .instrument
			//- 	span.instrument-name BTCUSDT
			//- 
			//- 	p
			//- 		span Объем: 3000
			//- 		span Направление: Long

block scripts
	script(src='/javascripts/web/robots-statistics.js')
