extends ../app

block variables
	-
		const pageTitle = 'Тест';

block content
	.page.test
		button Click
		
		#container
		
		//- iframe(src="https://ru.tradingview.com/chart/XCMsz22F/", width="468", height="60")

block scripts
	script(src='https://s3.tradingview.com/tv.js')
	script(src='/javascripts/web/test.js')
