extends ../app

block variables
	-
		const pageTitle = 'Утилиты';

block content
	.page.utilities
		a.utility(href="https://github.com/Arcdie/set-levels", target="_blank")
			span Перенос уровней в cscalp
			p Переносит отрисованные уровни в cscalp. Так же есть установка сигнальных уровней.
			
		a.utility(href="https://github.com/Arcdie/set-workamounts", target="_blank")
			span Настройка рабочих объемов
			p Впишите ваши рабочие объемы и утилита пересчитает их для каждого инструмента.
		
		a.utility(href="https://github.com/Arcdie/set-volume", target="_blank")
			span Настройка стаканов cscalp
			p Обязательно сделайте резервную копию настроек cscalp.

block scripts
