extends ../app

block variables
	-
		const pageTitle = 'Утилиты';

block content
	.page.utilities
		.utility
			h3 Перенос уровней в cscalp
			a(href="https://github.com/Arcdie/set-levels", target="_blank") github.com
	
		.utility
			h3 Настройка рабочих объемов
			a(href="https://github.com/Arcdie/set-workamounts", target="_blank") github.com

		.utility
			h3 Настройка стаканов
			a(href="https://github.com/Arcdie/set-volume", target="_blank") github.com

block scripts
