extends ../app

block variables
	-
		const pageTitle = 'Мониторинг плотностей';

block content
	.page.volume-monitoring
		#futures
			h2 Futures

			.settings
				img(src="/images/settings.png", alt="settings")

			.container

		#spot
			h2 Spot
			
			.settings
				img(src="/images/settings.png", alt="settings")
			
			.container

block scripts
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/volume-monitoring.js')
