extends ../../app

block variables
	-
		const pageTitle = 'Меню выбора стратегии';

block content
	.page.strategy-choice
		div.section
			p Price Jumps

			ul
				li
					a(href='/profit/priceJumps/charts') Charts
				li
					a(href='/profit/priceJumps/table?typeTrade=PRICE_JUMP') Table
				li
					a(href='/profit/priceJumps/table?typeTrade=PRICE_JUMP&isTest=true') Table Test
					
		div.section
			p Price Rebounds

			ul
				li
					a(href='/profit/priceRebounds/charts') Charts
				li
					a(href='/profit/priceRebounds/table?typeTrade=PRICE_REBOUND') Table
				li
					a(href='/profit/priceRebounds/table?typeTrade=PRICE_REBOUND&isTest=true') Table Test

block scripts
