extends ../../app

block variables
	-
		const pageTitle = 'Меню выбора стратегии';

block content
	.page.strategy-choice
		div.section
			p Price Jumps

			ul
				li
					a(href='/profit/priceJumps/charts') Charts
				li
					a(href='/profit/priceJumps/table') Table

		//- ul
		//- 	li
		//- 		a(href='/statistics/spotVolumes/table') Spot Volumes (Table)
		//- 	li
		//- 		a(href='/statistics/spotVolumes/charts') Spot Volumes (Charts)
		//- 
		//- ul
		//- 	li
		//- 		a(href='/statistics/futuresVolumes/table') Futures Volumes (Table)
		//- 	li
		//- 		a(href='/statistics/futuresVolumes/charts') Futures Volumes (Charts)

block scripts
