extends ../../../app

block variables
	-
		const pageTitle = 'Статистика по плотностям (spot)';

block content
	.page.volume-statistics
		.row
			.charts-container

			.instruments-container
				.search
					input(type="text" placeholder="Поиск")
			
				.instruments-list
					.headlines
						span.instrument-name Инструмент
						//- span.amount К-во

					.list
		
		.row
			.settings
				div
					p Lifetime (m)
					input.lifetime(type="text")
					
				.distance
					p Distance (ticks)
					input.distance(type="text")
					
				.number-touches
					p Touches
					input.number-touches(type="text")
					
				.stoploss-percent
					p StopLoss %
					input.stoploss-percent(type="text")
					
				.consider-btc-mirco-trend
					label(for='consider-btc-mirco-trend') BTC micro-trend
					input#consider-btc-mirco-trend(type='checkbox')
					
				.consider-futures-mirco-trend
					label(for='consider-futures-mirco-trend') Futures micro-trend
					input#consider-futures-mirco-trend(type='checkbox')

		.row
			.report
				table
					//- tr
					//- 	th #
					//- 	th Timelife
					//- 	th Touches
					//- 	th MaxProfit
					//- 
					//- tr
					//- 	td 1
					//- 	td 10m
					//- 	td 15
					//- 	td 3%
					//- 
					//- tr
					//- 	td 2
					//- 	td 15m
					//- 	td 3
					//- 	td 0.3%
					//- 
					//- tr
					//- 	td 3
					//- 	td 7m
					//- 	td 2
					//- 	td 1.3%

block scripts
	script(src='/libs/moment.min.js')
	script(src='/libs/file-saver.min.js')
	script(src='/libs/trading-view-charts.min.js')
	script(src='/libs/technical-indicators.min.js')

	script(src='/javascripts/chart-functions/chart-candles.js')
	script(src='/javascripts/chart-functions/indicators/volume.js')
	script(src='/javascripts/chart-functions/indicators/supertrend.js')

	script(src='/javascripts/statistics/volume-spot-statistics.js')
