extends ../../app

block variables
	-
		const pageTitle = 'Авторизация';

block content
	.page.login
		h1 Авторизация
		
		input#fullname(type="text", placeholder="Nickname")
		input#password(type="password", placeholder="Password")

		button#login Войти

		a(href='/auth/registration') Зарегистрироваться
		
		.common-instruction
			p Инструкция по настройке
			video(width="400", controls)
				source(src="/video/instructions/common-instruction.mov", type="video/mp4")
		
block scripts
	script(src='/javascripts/web/login.js')
